apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: radix-sub-pipeline-example
spec:
  environments:
    - name: dev
      build:
        from: pipeline-with-multiple-task-steps
  components:
    - name: frontend
      src: frontend
      ports:
        - name: http
          port: 8001
      publicPort: http
  dnsAppAlias:
    environment: dev
    component: frontend